

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    *{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


h1{
  position: absolute;
  left: -100000px;
  height: 0;
}

h2, h3, h6 {
  color: #b8a7c7;  
}

.topic-left img {
  padding-left: 130px;
}

.topic-left h6 {
  padding-left: 130px;
}

.topic-left h2 {
  padding-left: 130px;
}

.topic-left p {
  padding-left: 130px;
}

.topic img {
  padding: 0 65px;
}

.topic h6 {
  padding: 0 65px;
}

.topic h2 {
  padding: 0 65px;
}

.topic p {
  padding: 0 65px;
}

.topic-right img {
  padding-right: 130px;
}

.topic-right h6 {
  padding-right: 130px;
}

.topic-right h2 {
  padding-right: 130px;
}

.topic-right p {
  padding-right: 130px;
}