

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    *{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


h1{
  position: absolute;
  left: -100000px;
  height: 0;
}

h2, h3, h6 {
  color: #b8a7c7;  
}

.header {
  margin-top: 10px;
}

.header h2 {
  letter-spacing: 1px;
  line-height: 2;
}

.header-img{
  margin-top: 20px;
  width: 100%;
}

.topics {
  margin-top: 50px;
}

.topic h6 {
  letter-spacing: 1px;
}

.social {
  margin-top: 50px;
}

.social h5 {
  letter-spacing: 1px;
}